<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic meta tags -->
  <meta charset="utf-8">
  <title>Trace - Template by entiri</title>
	<meta name="description" content="...">
	<meta name="keywords" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]--> 

 
  <!-- Web Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">  
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->  
</head>
<body>
	<!-- Header -->
  

  <!-- Content -->
  <div id="content">

    <div class="gradient-1">
      <div class="container"> 
        <div class="row">
          <div class="span12">
            <!-- Page Title -->
            <h1>The Homeless Coach “Xstream Makeover”</h1>
            <hr>
              <!-- Page Subtitle -->
              <h2>“Homeless Coach” refers to our goal of coaching homeless people to beat homelessness while also providing a mobile, safe, well-equipped place for these coaching sessions to happen.</h2>              <hr>              <h3>For more than two years, a tireless and growing group of dedicated volunteers has been working very hard to transform a 1986 Winnebago into “The Homeless Coach”, a safe, clean environment where homeless “heroes” who want to get off the streets can connect with members of the Austin and web-based communities dedicated to coaching them towards a better way of life; a productive life of meaning and purpose.<br /><br />              Over 85 local businesses, more than 200 individuals and numerous churches have contributed products, services and volunteer time to the Homeless Coach “Xstream Makeover”.  Multiple local media outlets are covering our activity as well. Interest, visibility and community involvement is growing rapidly.<br /><br /> 				“Xstream” refers to the fact that, as they happen, we are live-streaming business contributions and volunteer activities across the Internet for the world to view and interact with. Access the live-streaming page and video archives here.<br /><br />				Without the generosity of our donors and volunteers, the Homeless Coach “Xstream Makeover” would not be happening.  We are extremely grateful for their selfless contributions!			</h3>
            <hr>
          </div>
        </div>  
      </div> 
    </div>
    
   
   
         

  <!-- Partners -->
 <div class="gradient-3">     <div class="container">      <!-- <div class="row">        <div class="partners-title"> -->
           <h2>VOLUNTEER</h2><br /><br />           But, our work on the Homeless Coach “Xstream Makeover” isn't done.  We still need your help.<br /><br />What volunteer help is needed? We are organized into the following Xstream Teams:<br /><br /><div id ="jobs-table"><div id="jobs-left" style="width:350px;"><ul>	<h4>Xstream Construction Team</h4><ul>	<li>Walls & trim work</li><li>Ceiling finishing</li><li>Bench signature brands (wood burning)</li><li>Bench surface finishing</li><li>Aluminum 360 bridge structure on roof</li><li>Install Vinyl Wrap</li></ul></ul><ul> <h4>Xstream Design Team</h4><ul><li>Team Captain (coordination) hours/month</li><li>Team Co-Captain (coordination) hours/month</li><li>Design & Install Décor of Interior Walls,<br /> Curtains, Cushions, Decorations</li> <li>Design & install ability to display<br /> homeless & local art</li><li>Design Volunteer and Event T-shirts</li><li>Design website theme and graphics</li> </ul> </ul><ul>	<h4>Xstream Auto/Electrical Team</h4><ul><li>Repair Battery Discharge/Recharge issue</li><li>Secondary generaotr and circuit installation</li><li>Automobile radiator repair</li> <li>Speedometer cable repair</li><li>Electrical lighting installation</li> <li>Engine Tune Up</li>  </ul> </ul> </div> <div id="jobs-right" style="width:350px;"><ul><h4>Xstream Computer/Video Team</h4><ul><li>Interior & Exterior Webcam Equipment<br /> Installation & Set-up</li><li>Computer/video equipment acquisition</li><li>Xstream Fundraising/Acquisitions Team</li><li>Arrange & communicate team meeting venues</li> <li>Arrange & communicate event venues</li><li>Fundraising mechanisms plan</li><li>Business Sponsorship Recruiting</li></ul></ul><ul> <h4>Xstream Coaching Team</h4><ul><li>Document Coaching Process Guidelines</li> </ul> </ul><ul><h4>Xstream Business Team</h4><ul><li>Business entity formation</li> <li>Bus Dev/Marketing/PR</li> </ul> </ul><ul><h4>Xstream Web Team</h4><ul><li>Website Enhancement</li> </ul> </ul><ul><h4>Xstream Unveiling Events Team</h4><ul><li>Plan unveiling tour</li><li>Logistics management</li><li>Sponsor coordination</li><li>Marketing & PR</li><li>Food management</li><li>Entertainment management</li>	  </ul>	 	 </ul></div></div> 	 </div>      </div>	 	 	 	 All teams welcome additional volunteers. Our biggest volunteer needs are currently in the Events, Contributions/Fundraising, Web and Logistics Teams. This is a family & community oriented activity so all are welcome to participate. How do businesses get involved? In exchange for the good-cause PR associated with this project, a suggested (but not mandatory) contribution of the best you have to offer and valued at $1000 retail or more is desired. This can be a mix of in-kind product and/or monetary donations. All monetary and product donations are tax deductible. Per tax laws, service contributions are not deductible. Note, the degree of your product and/or service exposure is proportional to quantity of products and/or frequency of services donated, thus please feel free to go “above and beyond” if you wish.What’s the business benefit? Good-cause product placement – The exterior graphics will be the most prominent and recognized advertisement for whomever donates to our cause (yes, your business or personal name will be displayed/credited.) We also live-stream the pickup, installation, use and discussions of business contributions (i.e., live product placement, reality advertising.) This also helps instill pride in your employees who can be live-streamed to the web for family, friends and the general public to see!We employ our rear, exterior-facing, 46” flat screen TV to display business contributions, promotional content, etc. to the public during and between live streaming, interactive coaching sessions. In the future, we plan to credit interior contributions via leather labels.Social media web presence - We place business logos and web links on our streaming video webpage. We also display brick & mortar business locations on a Google map on the streaming page. Lastly, we chat, blog, twitter and facebook about the contributions and activities of our sponsors.Traditional media coverage - We are engaging traditional TV, radio and news media during the makeover and unveiling tour for additional good-cause PR for contributing businesses. KXAN, <%= link_to 'FOX7', 'http://www.myfoxaustin.com/story/19518187/hard-times-forces-family-of-12-to-live-in-vehicle'%>, News8, <%= link_to 'Austin Chronicle', 'http://www.austinchronicle.com/news/2011-07-08/homeless-coach-bridges-digital-divide/' %>, <%= link_to 'Westlake Pickayune', 'http://westlakepicayune.com/2012/10/11/westlake-foundation-helps-homeless-family-start-again/' %>, <%= link_to 'Pflugerville Phlag', 'http://pflugervillepflag.com/2010/12/02/all-hands-in-to-help-the-homeless' %> and Impact News are all following/reporting on our progress and we expect this to grow to radio and more TV.       ”Celebrate Community” Tour Advertizing & Booth space - Businesses that contribute to the Xstream Makeover are eligible to schedule a 2-hour “Celebrate Community” tour event at their place of business and/or advertise at any or all tour locations.  We will help staff and promote these events.       Ongoing advertising – Once launched, your company's legacy of contribution will live on in the ongoing live and word-of-mouth discussions regarding companies that have contributed to the Homeless Coach Xstream Makeover. Employee community service – This is also an opportunity for your employees to get involved in a great project that will benefit our community.      To discover more about how you can make a positive difference in the life of a homeless person determined to graduate to life away from the streets while you also make our community a better, safer place for you and your family, click here to go to our “Join Us” page!  
        
      <div class="row partners">
        <div class="span2 center">LATEST PRESS:<br /><br />
          <a href="http://westlakepicayune.com/2012/10/11/westlake-foundation-helps-homeless-family-start-again/" rel="external">Oct 2012 - Austin Statesman / Westlake Picayune Article <%= image_tag "" %></a>
        </div>
        <div class="span2 center">
          <a href="http://www.myfoxaustin.com/story/19518187/hard-times-forces-family-of-12-to-live-in-vehicle" rel="external">Sept 2012 - FOX News Report <%= image_tag "" %></a>
        </div>
        <div class="span2 center">
          <a href="http://www.austinchronicle.com/news/2011-07-08/homeless-coach-bridges-digital-divide/" rel="external">July 2011 - Austin Chronicle article <%= image_tag "" %></a>
        </div>
        <div class="span2 center">
          <a href="http://westlakepicayune.com/2011/06/15/tom-baum-points-his-homeless-coach-rv-toward-new-horizons/comment-page-1/#comment-294596" rel="external">June 2011 - Westlake Picayune article <%= image_tag "" %></a>
        </div>
        <div class="span2 center">
          <a href="http://pflugervillepflag.com/2010/12/02/all-hands-in-to-help-the-homeless/" rel="external">Nov 2010 - Pflugerville Pflag Article <%= image_tag "" %></a>
        </div>
       <!--  <div class="span2 center">          <a href="#" rel="external">Web Team<%= image_tag "partners/logo-1.png" %></a>        </div> -->
      </div>         	</div>		<!-- <div class="row partners">        <div class="span2 center">          <a href="#" rel="external">Coaching Team<%= image_tag "partners/logo-1.png" %></a>        </div>        <div class="span2 center">          <a href="#" rel="external">Logistics/Business Team<%= image_tag "partners/logo-1.png" %></a>        </div>        <div class="span2 center">          <a href="#" rel="external">Contributions/Fundraising Team<%= image_tag "partners/logo-1.png" %></a>        </div>  	</div>  	</div> -->
  <!-- End Partners -->

  <!-- Footer -->
  <footer id="footer">
    <div id="bottom-1">
      <div class="container">   
        <div class="row">
          <div class="span4">
            <div class="footer-title">CONTRIBUTIONS</div><br /><br />            			 <%=link_to image_tag("sponsor_ACF.png"), 'http://www.austincommunityfoundation.org/?nd=donate' %>
              <br><br>
             
              <br><br>
              To make a donation <a href="http://www.austincommunityfoundation.org/?nd=donate" class="blue">click here</a>
          </div>
          <div class="span4">
            <!-- Sections -->
            <div class="footer-title">SECTIONS</div>
              <a href="#">» Quis nostrud exercitation ullamco</a><br><br>
              <a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
              <a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
              <a href="#">» Amet, consectetur adipisicing elited</a><br><br>
              <a href="#">» Perspiciatis unde omni onsequat</a><br><br>
              <a href="#">» modilach temporazara incidunt eaq</a>
          </div>
          <div class="span4">
            <!-- Get Social -->
            <div class="footer-title">GET SOCIAL</div>
    					<p>  
                <%= link_to "http://www.facebook.com", :class => "social-network facebook" %>                <%= link_to "http://www.dribble.com", :class => "social-network dribble" %>                <%= link_to "http://www.pinterest.com", :class => "social-network pinterest" %>                <%= link_to "http://www.deviantart.com", :class => "social-network deviantart" %>                   
    					</p>
            <!-- Newsletter -->
            <div class="footer-title">NEWSLETTER</div>
            <div class="newsletter-container">            	            	<%= image_tag "ajax-loader.gif", :class => 'ajax-loader' %>
              <form method="post" id="newsletter-f">             
                <input type="text" name="newsletter" placeholder="Your e-mail address">
                <button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
                <input type="hidden" name="robot">
              </form>
            </div>
            Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
          </div>
      </div>
    </div> 
  </div>
  
  <!-- Copyright Row -->      
  <div id="bottom-2">
    <div class="container">   
      <div class="row">
        <div class="span1">    
          <a href="#"><%= image_tag "logo-footer.png" %></a>
        </div>
        <div class="span7">
          Austin, TX<br>
          E-mail: <a href="mailto:homelesscoach@domain.com" class="blue" rel="external">homelesscoach@domain.com</a> | Phone: <span class="blue">1-800-555-1111</span>
        </div>
        <div class="span4 right">
          &copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
          <a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- End Copyright Row -->
  
  </footer>
  <!-- End Footer -->


  
  
</body>
</html>
  