<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic meta tags -->
  <meta charset="utf-8">
  <title>Trace - Template by entiri</title>
	<meta name="description" content="...">
	<meta name="keywords" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]--> 

 
  <!-- Web Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">  
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->  
</head>
<body>
  <!-- Content -->
  <div id="content">

    <div class="gradient-1">
      <div class="container">
        <div class="row">
          <div class="span12">

            <div id="slider1">         
              <div class="flexslider">
                <ul class="slides">
                  <li>
        	    	    <%= image_tag "slider/banner-1.jpg" %>
        	    		</li>
        	    		<li>
        	    	    <%= image_tag "slider/banner-2.jpg" %>
        	    		</li>
        	    		<li>
        	    	    <%= image_tag "slider/banner-3.jpg" %>
        	    		</li>
        	    		<li>
        	    	    <%= image_tag "slider/banner-4.jpg" %>
        	    		</li>
                </ul>
              </div>          
            </div>
            
          </div>
        </div>
      </div>  
    </div>
    
    <!-- Circles -->             
    <div class="container">   
      <div class="row">
      
        <div class="span4 c-a c-big mt-0">
          <a href="#">  
            <div class="c-content">    
              <div class="c-icon">          
                <i class="icon-time"></i>
              </div>
              <strong>Time management</strong>
              <br /><br />
              <div class="c-text"> 
                Consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt<br />ut labore et dolore magna aliqua.<br>Ut enim ad minim veniam,<br /> nostrud exercitation<br />
              </div>
            </div>
          </a>
        </div>
            
        <div class="span4 c-b c-big">
          <a href="#">  
            <div class="c-content">
              <div class="c-icon">
                <i class="icon-umbrella"></i>
              </div>
              <strong>Performance</strong>
              <br /><br />
              <div class="c-text"> 
                Consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt<br />ut labore et dolore magna aliqua.<br>Ut enim ad minim veniam,<br /> nostrud exercitation<br />
              </div>
            </div>
          </a>
        </div>    
        
        <div class="span4 c-a c-big">
          <a href="#">  
            <div class="c-content">
              <div class="c-icon">
                <i class="icon-briefcase"></i>
              </div>
              <strong>High Effectivity</strong>
              <br /><br />
              <div class="c-text"> 
                Consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt<br />ut labore et dolore magna aliqua.<br>Ut enim ad minim veniam,<br /> nostrud exercitation<br />
              </div>
            </div>
          </a>
        </div>  
    
      </div>
    </div>
    <!-- End Circles -->   
 
    <!-- Squares -->
    <div class="gradient-2">
      <div class="container"> 
        <div class="row">
          <div class="span4">
            <div class="square">
            	<%= image_tag "home/300x244-1.jpg" %>
                <div class="square-title">
                  <div class="square-title-children">
                    Bussiness workflow for<br>year 2012
                  </div>
                </div>  
              <div class="square-text">
                <hr class="square-hr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si
              </div>
              <div class="read-more">
                <a href="#" class="blue">Read more »</a>
              </div>
            </div>
          </div>      
          <div class="span4">
            <div class="square">
            	<%= image_tag "home/300x244-2.jpg" %>
              <div class="square-title">
                <div class="square-title-children">
                  Cooperation projects<br />with the agencies
                </div>
              </div>           
              <div class="square-text">
                <hr class="square-hr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si
              </div>
              <div class="read-more">
                <a href="#" class="blue">Read more »</a>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="square">
              <%= image_tag "home/300x244-3.jpg" %>
              <div class="square-title">
                <div class="square-title-children">
                   We are creative team
                </div>
              </div>
              <div class="square-text">
                <hr class="square-hr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si
              </div>
              <div class="read-more">
                <a href="#" class="blue">Read more »</a>
              </div>
            </div>
          </div>
        </div>  
      </div> 
    </div>
    <!-- End Squares -->

  </div>
  <!-- End Content -->

  <!-- Partners -->
  <div class="gradient-3"> 
    <div class="container">
      <div class="row">
        <div class="partners-title">
           OUR PARTNERS
        </div>
      </div>
      <div class="row partners">
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-1.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-2.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-3.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-4.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-5.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-6.png" %></a>
        </div>
      </div>   
    </div>
  </div>
  <!-- End Partners -->

  <!-- Footer -->
  <footer id="footer">
    <div id="bottom-1">
      <div class="container">   
        <div class="row">
          <div class="span4">
            <div class="footer-title">ABOUT US</div>
              Sed ut perspiciatis unde omnis es nakalamatus error sit, totam rem aperiam, eaque ipsa  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
              <br><br>
              quisquam est, eius modilach temporazarata incidunt, eaque ipsa. Nemo enim.
              <br><br>
              <a href="#" class="blue">Read more »</a>
          </div>
          <div class="span4">
            <!-- Sections -->
            <div class="footer-title">SECTIONS</div>
              <a href="#">» Quis nostrud exercitation ullamco</a><br><br>
              <a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
              <a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
              <a href="#">» Amet, consectetur adipisicing elited</a><br><br>
              <a href="#">» Perspiciatis unde omni onsequat</a><br><br>
              <a href="#">» modilach temporazara incidunt eaq</a>
          </div>
          <div class="span4">
            <!-- Get Social -->
            <div class="footer-title">GET SOCIAL</div>
    					<p>  
               <%= link_to "http://www.facebook.com", :class => "social-network facebook" %>
                <%= link_to "http://www.dribble.com", :class => "social-network dribble" %>
                <%= link_to "http://www.pinterest.com", :class => "social-network pinterest" %>
                <%= link_to "http://www.deviantart.com", :class => "social-network deviantart" %>
    					</p>
            <!-- Newsletter -->
            <div class="footer-title">NEWSLETTER</div>
            <div class="newsletter-container">
              <%= image_tag "ajax-loader.gif", :class => "ajax-loader" %>
              <form method="post" id="newsletter-f">             
                <input type="text" name="newsletter" placeholder="Your e-mail address">
                <button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
                <input type="hidden" name="robot">
              </form>
            </div>
            Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
          </div>
      </div>
    </div> 
  </div>
  
  <!-- Copyright Row -->      
  <div id="bottom-2">
    <div class="container">   
      <div class="row">
        <div class="span1">    
          <a href="#"><%= image_tag "logo-footer.png" %></a>
        </div>
        <div class="span7">

          Austin, TX<br>

          E-mail: <a href="mailto:homelesscoach@domain.com" class="blue" rel="external">homelesscoach@domain.com</a> | Phone: <span class="blue">1-800-555-1111</span>

        </div>
        <div class="span4 right">
          &copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
          <a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- End Copyright Row -->
  
  </footer>
  <!-- End Footer -->

  <!-- Javascript -->
  

</body>
</html>
  