<!DOCTYPE html>
  	
  
  <html>
  	<!-- <head>
  		<%= stylesheet_link_tag "font-awesome" %>
  	</head>	 -->
 
  <!-- Content -->
  <body>
  <div id="content">
    <div class="gradient-1">
      <div class="container"> 
        <div class="row">
          <div class="span12">
            <!-- Page Title -->
            <h1>About us</h1>
            <hr>
              <!-- Page Subtitle -->
              <h2>Homelessness is a very serious problem in the Austin area, but we're committed to doing our part to help change that.  We're committed to changing lives for the better, to ending homelessness in our community one “Heroes’ journey” at a time</h2>
            <hr>        
          </div>
        </div>  
      </div> 
    </div>
  
    <!-- Circles Small -->
    <div class="container">   
      <div class="row m-tb-50">
        <div class="span2 cs-a c-small">
          <div class="cs-content">
            <!-- Circle Title -->
            <div class="cs-title blue">Mission</div>
          </div>
        </div>
            
        <div class="span2 cs-b c-small">
          <div class="cs-content">
            <div class="cs-icon">
              <!-- Circle Icon -->
              <i class="icon-leaf"></i>
            </div>
          </div>
        </div>    
        
        <div class="span2 cs-a c-small">
          <div class="cs-content">
            <!-- Circle Title -->
            <div class="cs-title blue">Philoshophy<br>& Visions</div>
          </div>
        </div>
        
        <div class="span2 cs-b c-small">
          <div class="cs-content">
            <div class="cs-icon">
              <!-- Circle Icon -->
              <i class="icon-beaker"></i>
            </div>
          </div>
        </div>
            
        <div class="span2 cs-a c-small">
          <div class="cs-content">
            <!-- Circle Title -->
            <div class="cs-title blue">Promise</div>
          </div>
        </div>    
        
        <div class="span2 cs-b c-small">
          <div class="cs-content">
            <div class="cs-icon">
              <!-- Circle Icon -->
              <i class="icon-pencil"></i>
            </div>
          </div>
        </div>    
      </div>
    </div>  
    
    <div class="container"> 
      <div class="row lh-1">
        <div class="span4">
          <h3>Mission Statement</h3>
          <p>ssensselemoH -- reverse Homelessness – that's the stated mission of the Homeless Coach.</p>
        </div>  
        <div class="span4">
          <h3>How do we ssensselemoH?</h3>
          <p>In a laid-back atmosphere of fun and fellowship – and delicious Austin original cuisine, the Homeless Coach connects homeless “heroes” determined to get off the streets with members of the local community in special coaching sessions videotaped and streamed live to the Internet.</p>
        </div>  
        <div class="span4">
          <h3>Methodology</h3>
          <p>The goal is to enable community-based networking and relationship building that lifts and sustains    them off the streets, into shelters and on the path to meaningful, purpose-filled lives where they can effectively use their gifts and skills as proud contributors to society.</p>
        </div>  
      </div> 
    </div> 
    
    <!-- More Info -->
    <div class="container"> 
      <div class="row">
        <div class="span12">
          <hr class="m-tb-40">
        </div>
      </div>  
      <div class="row">
        <div class="span8">
          <div class="more-info">The Homeless Coach is committed to reversing homelessness in our community, but we can't do it alone.  We need the help of generous, compassionate people like you!<span class="gray">'Contact Info'</span></div>
        </div>
        <div class="span4 right">
          <a href="#"><div class="button-class but-1">Contact Us »</div></a>
        </div>
      </div>
    </div> 
    
    <!-- Our Team Row --> 
    <div class="gradient-2">
      <div class="container"> 
        <div class="row">
          <div class="span12 our-team-title" style="padding-bottom:10px; padding-top:10px;">
            Our team
          </div>    
          <div class="span12">
            <div class="row member-m-b" style="padding-bottom:25px;">
              <!-- Member -->
              <div class="span4 team-container" style="width:300px;">
                <div class="member-photo">
                  <%= image_tag "our-team/140x140-1.jpg" %>
                  <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                  <div class="member-name">John Doe</div>
                  <div class="member-position">Director & Founder</div>
                  Claritas est etiam processus dynamicus modo typ
                </div> 
              </div>   
              <!-- Member --> 
              <div class="span4 team-container" style="width:300px;"> 
                <div class="member-photo">
                  <%= image_tag "our-team/140x140-2.jpg" %>
                  <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                  <div class="member-name">Adelie  Logetis</div>
                  <div class="member-position">Project Manager</div>
                  Claritas est etiam processus dynamicus modo typ
                </div> 
              </div>  
              <!-- Member -->  
              <div class="span4 team-container" style="width:300px;">  
                <div class="member-photo">
                  <%= image_tag "our-team/140x140-3.jpg" %>
                  <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                  <div class="member-name">Freddie Brown</div>
                  <div class="member-position">Sales Manager</div>
                  Claritas est etiam processus dynamicus modo typ
                </div> 
              </div> 
    
            </div>
          </div>    
          <!-- End Our Team Row -->
          
          <!-- Our Team Row -->  
          <div class="span12">
            <div class="row">
              <!-- Member -->
              <div class="span4 team-container" style="width:300px;">
                <div class="member-photo">
                  <%= image_tag "our-team/140x140-4.jpg" %>
                  <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                  <div class="member-name">Essokim Worelm</div>
                  <div class="member-position">Architect</div>
                    Claritas est etiam processus dynamicus modo typ
                </div> 
              </div>   
              <!-- Member -->   
              <div class="span4 team-container" style="width:300px;"> 
                <div class="member-photo">
                    <%= image_tag "our-team/140x140-5.jpg" %>
                    <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                    <div class="member-name">Limos Disel</div>
                    <div class="member-position">Economist</div>
                    Claritas est etiam processus dynamicus modo typ
                </div> 
              </div>  
              <!-- Member -->  
              <div class="span4 team-container" style="width:300px;">  
                <div class="member-photo">
                  <%= image_tag "our-team/140x140-6.jpg" %>
                  <div class="circle-mask-1"></div>
                </div> 
                <div class="member-data">
                  <div class="member-name">Scarlett Walsh</div>
                  <div class="member-position">Administration</div>
                  Claritas est etiam processus dynamicus modo typ
                </div> 
              </div>
                            
            </div>
          </div>
          <!-- End Our Team Row -->
               
        </div>  
      </div> 
    </div> 
    <!-- End Our Team -->
  </div>
  <!-- End Content -->

  <!-- Partners -->
  <div class="gradient-3"> 
    <div class="container">
      <div class="row">
        <div class="partners-title">
           OUR PARTNERS
        </div>
      </div>
      <div class="row partners">
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-1.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-2.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-3.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-4.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-5.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-6.png" %></a>
        </div>
      </div>   
    </div>
  </div>
  <!-- End Partners -->

  <!-- Footer -->
  <footer id="footer">
    <div id="bottom-1">
      <div class="container">   
        <div class="row">
          <div class="span4">
            <div class="footer-title">ABOUT US</div>
              Sed ut perspiciatis unde omnis es nakalamatus error sit, totam rem aperiam, eaque ipsa  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
              <br><br>
              quisquam est, eius modilach temporazarata incidunt, eaque ipsa. Nemo enim.
              <br><br>
              <a href="#" class="blue">Read more »</a>
          </div>
          <div class="span4">
            <!-- Sections -->
            <div class="footer-title">SECTIONS</div>
              <a href="#">» Quis nostrud exercitation ullamco</a><br><br>
              <a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
              <a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
              <a href="#">» Amet, consectetur adipisicing elited</a><br><br>
              <a href="#">» Perspiciatis unde omni onsequat</a><br><br>
              <a href="#">» modilach temporazara incidunt eaq</a>
          </div>
          <div class="span4">
            <!-- Get Social -->
            <div class="footer-title">GET SOCIAL</div>
    					<p>  
               <%= link_to "http://www.facebook.com", :class => "social-network facebook" %>
                <%= link_to "http://www.dribble.com", :class => "social-network dribble" %>
                <%= link_to "http://www.pinterest.com", :class => "social-network pinterest" %>
                <%= link_to "http://www.deviantart.com", :class => "social-network deviantart" %>
    					</p>
            <!-- Newsletter -->
            <div class="footer-title">NEWSLETTER</div>
            <div class="newsletter-container">
              <%= image_tag "ajax-loader.gif", :class => "ajax-loader" %>
              <form method="post" id="newsletter-f">             
                <input type="text" name="newsletter" placeholder="Your e-mail address">
                <button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
                <input type="hidden" name="robot">
              </form>
            </div>
            Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
          </div>
      </div>
    </div> 
  </div>
  
  <!-- Copyright Row -->      
  <div id="bottom-2">
    <div class="container">   
      <div class="row">
        <div class="span1">    
          <a href="#"><%= image_tag "logo-footer.png" %></a>
        </div>
        <div class="span7">

          Austin, TX<br>

          E-mail: <a href="mailto:homelesscoach@domain.com" class="blue" rel="external">homelesscoach@domain.com</a> | Phone: <span class="blue">1-800-555-1111</span>

        </div>
        <div class="span4 right">
          &copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
          <a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- End Copyright Row -->
  
  </footer>
  <!-- End Footer -->

  <!-- Javascript -->
  
  
</body>
</html>
  