<!DOCTYPE html>
  <html>
  <body>	
  <!-- Header End-->
  <!-- Content -->
  <div id="content">

    <div class="gr_1">
      <div class="container"> 
        <div class="row">
          <div class="span12">
            <!-- Page Title -->
            <h1>Meet Our Heroes</h1>
            <hr>
              <!-- Page Subtitle -->
              <h2>Those that are committed to sticking together and overcoming, what most of us would view as, insurmountable odds.</h2>
            <hr>
          </div>
        </div>  
      </div> 
    </div>

    <div class="container"> 
      <div class="row">
        <div class="span12">
    
      		<!-- portfolio filter -->		
      		<ul id="portfolio-filter">
      			<li class="active"><a href="#" class="filter" data-filter="*">The Hoffmans</a></li>
      			<li><a href="#" class="filter" data-filter=".hr">Hero2</a></li>
            <li><a href="#" class="filter" data-filter=".marketing">Hero3</a></li>
      			<li><a href="#" class="filter" data-filter=".ls">Hero4</a></li>
            <li><a href="#" class="filter" data-filter=".innovation">Hero5</a></li>
      		</ul>
    
        </div>
      </div>  
    </div> 
    
    <div class="gr_2 mt-0">
      <div class="container"> 
         
    		<!-- portfolio items -->		
    		<section class="row m-tb-50" id="portfolio-items">
          <ul class="portfolio">
          
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "12.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title"><h2>The Hoffman Dozen</h2></div><br /><br />
                       <p>The Hoffman family has known much better times. Times when income was good and life afforded father Daniel
time to play soccer with their eight children (two more were born since then), volunteer with local schools to shield
their computer networks from adult content and mother Buffie time to volunteer as a breastfeeding instructor. Since
August, 2009 however, the Hoffmans began spiraling into homelessness.<br /><br /> This downward spiral was initiated when
the company they both worked for began to struggle and hedge on paying its employees. Before long the then family
of ten struggled to pay rent and bills piled up while Daniel sought but couldn't secure steady employment. Discouraged by
the job prospects in Wisconsin, they eventually packed all belongings into a U-Haul and trucked to Granbury, Texas.
Friends had spoken of available jobs and housing, alas, neither materialized as hoped. Resourcefully, they began to find a
combination of work and shelter by offering to upgrade wifi and website systems for motels in exchange for pay and shelter.
This succeeded until the their third customer began accusing them of exorbitant water use and threats of eviction.<br /><br />
That's when the Hoffmans contacted the Homeless Coach for help in reversing homelessness and, most importantly,
keeping a loving, close-knit family together. Meanwhile finger pointing at the motel, led to court appearances and eventually a
ruling to vacate the premises. Shortly thereafter, the Hoffmans found themselves in Austin where they
have been journeying off the streets with the help and support of the local Austin and global web communities.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/02.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/03.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/04.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/05.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/06.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/07.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/08.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/09.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
              </article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/10.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/11.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <%= image_tag "portfolio/12.jpg" %>
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
                
          </ul>
    		</section>
    
      </div>  
    </div> 

  </div>  
  <!-- End Content -->

  <!-- Partners -->
  <div class="gradient-3"> 
    <div class="container">
      <div class="row">
        <div class="partners-title">
           OUR PARTNERS
        </div>
      </div>
      <div class="row partners">
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-1.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-2.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-3.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-4.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-5.png" %></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><%= image_tag "partners/logo-6.png" %></a>
        </div>
      </div>   
    </div>
  </div>
  <!-- End Partners -->

  <!-- Footer -->
  <footer id="footer">
    <div id="bottom-1">
      <div class="container">   
        <div class="row">
          <div class="span4">
            <div class="footer-title">ABOUT US</div>
              Sed ut perspiciatis unde omnis es nakalamatus error sit, totam rem aperiam, eaque ipsa  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
              <br><br>
              quisquam est, eius modilach temporazarata incidunt, eaque ipsa. Nemo enim.
              <br><br>
              <a href="#" class="blue">Read more »</a>
          </div>
          <div class="span4">
            <!-- Sections -->
            <div class="footer-title">SECTIONS</div>
              <a href="#">» Quis nostrud exercitation ullamco</a><br><br>
              <a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
              <a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
              <a href="#">» Amet, consectetur adipisicing elited</a><br><br>
              <a href="#">» Perspiciatis unde omni onsequat</a><br><br>
              <a href="#">» modilach temporazara incidunt eaq</a>
          </div>
          <div class="span4">
            <!-- Get Social -->
            <div class="footer-title">GET SOCIAL</div>
    					<p>  
               <%= link_to "http://www.facebook.com", :class => "social-network facebook" %>
                <%= link_to "http://www.dribble.com", :class => "social-network dribble" %>
                <%= link_to "http://www.pinterest.com", :class => "social-network pinterest" %>
                <%= link_to "http://www.deviantart.com", :class => "social-network deviantart" %>
    					</p>
            <!-- Newsletter -->
            <div class="footer-title">NEWSLETTER</div>
            <div class="newsletter-container">
            	<%= image_tag "ajax-loader", :class => "ajax-loader" %>
              <form method="post" id="newsletter-f">             
                <input type="text" name="newsletter" placeholder="Your e-mail address">
                <button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
                <input type="hidden" name="robot">
              </form>
            </div>
            Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
          </div>
      </div>
    </div> 
  </div>
  
  <!-- Copyright Row -->      
  <div id="bottom-2">
    <div class="container">   
      <div class="row">
        <div class="span1">    
          <a href="#"><%= image_tag "logo-footer.png" %></a>
        </div>
        <div class="span7">

          Austin, TX<br>

          E-mail: <a href="mailto:homelesscoach@domain.com" class="blue" rel="external">homelesscoach@domain.com</a> | Phone: <span class="blue">1-800-555-1111</span>

        </div>
        <div class="span4 right">
          &copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
          <a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- End Copyright Row -->
  
  </footer>
  <!-- End Footer -->

  
  
</body>
</html>
  